@import "../../style/imports.scss";

.users {
  width: 80%;
  &_header {
    border-bottom: 1px solid get-color(text);

    h2 {
      font-size: get-font-size(large);
      font-weight: bold;
      margin: 1.5rem;
    }
  }

  &_container {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &_user {
      @include flexbox(space-around, center, row);
      width: 100%;
      margin: .5rem;
      padding: .5rem;
      cursor: pointer;

      &_avatar {
        img {
          @include avatar-big;
        }
      }
      &_info {
        h3 {
          font-size: get-font-size(medium);
          font-weight: bold;
          padding: 0.5rem;
        }
        p {
          font-size: get-font-size(small);
          font-style: italic;
        }
      }
      &:hover,
      &:active {
        background-color: darken(get-color(shadow), 55%);
        border-radius: 4px;
      }
    }
  }

  &_footer {
    width: 100%;
    border-top: 1px solid get-color(text);
    @include flexbox(space-around, center, row);
    &_pages {
      margin: .5rem;
      padding: .3rem;
      @include flexbox(flex-start, center, row);
      p {
        padding: 0 .3rem;
        cursor: pointer;
        &:hover, &:active {
          color: get-color(primary)
        }
      }
    }
    &_limit {
      @include flexbox(flex-start, center, row);
      margin: .5rem;
      padding: .3rem;
      select {
        margin: 0 1rem;
        cursor: pointer;
        border: 1px solid get-color(primary);
        border-radius: 4px;
        width: 3.125rem;
        height: 1.5rem;
        text-align: center;

        &:focus {
          box-shadow: 0 0 3pt 2pt get-color(primary);
        }
      }
    }
  }
}