@import "../../../style/imports.scss";

.textArea {

  textarea {
    border-radius: 8px;
    margin: 1rem;
    border: 1px solid darken(get-color(primary), 10%);
    width: 90%;
    height: 3.125rem;
  
    &:hover,
    &:focus {
      outline: none;
      border: 1px solid darken(get-color(primary), 10%);
      box-shadow: 0 0 3pt 2pt get-color(primary);
    }
  }
 
}