@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./style/imports.scss";

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  @include flexbox(flex-start, center, column);
}