@import "./style/reset.scss";
@import "./style/imports.scss";

body {
  margin: 0;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: get-color(text);
}