@import "../../../style/imports.scss";

.progress_container {
  

  &_bar {
    width: 80%;
    height: 5px;
    border: 1px solid get-color(primary);
    border-radius: 8px;
    opacity: 0;
    display: none;
    margin: 1rem auto;
    transition: all 0.8s ease-in-out;
  }
}

.inProgress {
  display: block;
  opacity: 1;
}