@import "../../../style/imports.scss";

.modal {
  position: fixed;
  margin: auto;
  z-index: 500;
  width: 70%;
  min-width: 18.75rem;
  max-height: 90vh;
  height: auto;
  border-radius: 4px;
  border: 1px solid white;
  box-sizing: border-box;
  transition: all .8s ease-in-out;
  padding: 1rem;
  background-color: white;
  @include shadow;
  @include flexbox(center, center, column);
  overflow: hidden;

  img {
    width: 85%;
    height: 85%;
  }

  p {
    font-size: get-font-size(small);
    padding-bottom: 0.5rem;
  }
  
  &_content {
    font-size: get-font-size(medium);
    width: 100%;
  }
  @media only screen and (max-width: 500px) {
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (max-height: 640px) {
    max-height: 85vh;
    img {
      width: 85%;
      height: 50%;
    }
  }
}