@import "../../style/imports.scss";

.videoChat {
  position: relative;
  @include flexbox(center, flex-start, row);
  width: 90vw;
  margin: 10px;
  height: 770px;
  border-radius: 8px;
  overflow: hidden;
  @include shadow;
}