@import "../../style/imports.scss";

.chat {
  @include flexbox(center, flex-start, row);
  width: 90vw;
  margin: 50px 0 20px 20px;
  height: 770px;
  border-radius: 8px;
  overflow: hidden;

  @include shadow;
}