@import "../../../../../style/imports.scss";

.message {
  width: 100%;
  padding: .5rem;
  margin: .5rem;
  @include flexbox(flex-start, flex-start, row);

  &_avatar {
    min-width: 50px;
    width: 5%;
    @include flexbox(center, center, row);

    &_image {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 3px solid get-color(primary);
      @include flexbox(center, center, column);

      img {
        @include avatar;
      }
    }

    &_icon {
      @extend .message_avatar_image;
      background-color: get-color(gray_profile);
    }
  }

  &_container {
    width: 60%;

    &_content {
      h2 {
        font-size: get-font-size(small);
        font-style: italic;
        padding: .3rem
      }
      @include flexbox(flex-start, flex-start, column);
      background-color: lighten(get-color(gray_profile), 20%);
      padding: 1rem;
      margin: .2rem;
      border-radius: 10px;
      @include shadow;
      font-size: get-font-size(small);
      p {
        text-align: left;
      }
    }
    &_created {
      font-size: get-font-size(small);
      font-style: italic;
      padding: .3rem;
      p {
        text-align: right;
      }
    }
  }
}

.rightAlign {
  justify-content: flex-end;
}

.rightAlignColors {
  background-color: get-color(primary);
  color: white;
}