@import "../../../../../style/imports.scss";

.message {
  width: 90%;
  padding: .5rem;
  margin: .5rem;
  @include flexbox(flex-start, flex-start, row);
  flex-wrap: wrap-reverse;

  &_avatar {
    min-width: 50px;
    width: 5%;
    @include flexbox(center, center, row);

    &_image {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 3px solid get-color(primary);
      @include flexbox(center, center, column);

      img {
        @include avatar;
      }
    }

    &_icon {
      @extend .message_avatar_image;
      background-color: get-color(gray_profile);
    }
  }

  &_container {
    min-width: 18rem;
    width: 50%;
    &_content {
      h2 {
        width: 100%;
        text-align: left;
        font-size: get-font-size(small);
        font-style: italic;
        padding: .3rem;
      }
      @include flexbox(flex-start, center, column);
      background-color: lighten(get-color(gray_profile), 20%);
      padding: 1rem;
      margin: .2rem;
      border-radius: 10px;
      overflow: hidden;
      @include shadow;
      font-size: get-font-size(small);
      p {
        width: 100%;
        text-align: justify;
        margin: 0 1rem;
      }
      img {
        width: 350px;
        height: 250px;
        object-fit: cover;

        @media only screen and (max-width: 950px) {
          width: 300px;
          height: 200px;
        }

        @media only screen and (max-width: 800px) {
          width: 280px;
          height: 180px;
        }
      }
    }
    &_created {
      font-size: get-font-size(small);
      font-style: italic;
      padding: .3rem;
      p {
        margin: .2rem;
        padding: .2rem;
        text-align: right;
      }
    }
  }
}

.rightAlign {
  justify-content: flex-end;
  flex-wrap: wrap;
}

.rightAlignColors {
  background-color: get-color(primary);
  color: white;
}