@import "../../../style/imports.scss";

.card_wrapper {
    height: auto;
    @include shadow;
    font-size: get-font-size(small);
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    margin: 2rem;
}

.small_card {
    min-width: 20rem;
    width: 25%;
}

.medium_card {
    width: 60vw;
    @media screen and (max-width: 1240px){
        width: 90vw;
    }
}

.wide_angle {
    width: 90vw;
}