@import "../../../style/imports.scss";

.card_wrapper {
    height: auto;
    @include shadow;
    font-size: get-font-size(small);
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    margin: 2rem;
}

.small_card {
    width: 25rem;
}


.medium_card {
    width: 60vw;
}

.wide_angle {
    width: 90vw;
}