@import "../../../style/imports.scss";

.deleteAccount {
  width: 80%;
  height: auto;
  border-top: 1px solid gray;
  transition: all .8s ease-in-out;

  h2 {
    font-size: get-font-size(medium);
    font-weight: bold;
    text-align: left;
    padding: .3rem 1rem;
  }
  p {
    font-size: get-font-size(small);
    text-align: left;
    padding: .3rem 1rem;
  }
  
  &_container {
    display: block;
    
  }
}

.close {
  display: none;
  height: 0;
}