@mixin flexbox($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow {
  box-shadow: -2px 1px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 27px 0px rgba(0, 0, 0, 0.75);
}

@mixin shadow-down {
  box-shadow: 0px 8px 16px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 8px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 16px -7px rgba(0, 0, 0, 0.75);
}

@mixin hover-effect {
  background-color: rgba(128, 128, 128, 0.295);
  border-radius: 8px;
  cursor: pointer;
}

@mixin pulse {
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(145, 145, 145, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 5px rgba(194, 192, 192, 0.137);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(182, 182, 182, 0.822);
    }
  }
}

@mixin opacity {
  @keyframes anim {
    from  {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin avatar-big {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin avatar-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}