$colors: (
  primary: #1976d2,
  secondary: darken(#1976d2, 20%),
  shadow: rgba(255, 255, 255, 0.247),
  dark-white: darken(white, 5%),
  text: rgb(80, 79, 79),
  danger: red,
  success: green,
  transparent_gray: rgba(0, 0, 0, 0.5),
  gray_profile: lighten(gray, 20%),
  online: rgb(83, 231, 83),
);

@function get-color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  ex-small: calc(.5rem + .3vw),
  small: calc(.6rem + .3vw),
  medium: calc(.6rem + .6vw),
  large: calc(1rem + .6vw),
);

@function get-font-size($size) {
  @return map-get($font-sizes, $size);
} ;
