@import "../../../../style/imports.scss";

.filter {
  @include flexbox(space-evenly, center, row);
  width: 100%;
  font-size: get-font-size(small);
  font-style: italic;
  color: white;

  &_btns {
    width: 70%;
    @include flexbox(space-evenly, center, row);

    button {
      border: none;
      color: white;
      background-color: transparent;
      padding: .5rem;
      cursor: pointer;
      letter-spacing: 1px;
      font-style: italic;
      font-size: get-font-size(small);

      &:hover, &:active {
        color: get-color(gray_profile);
        text-decoration: underline;
      }
    }
  }
}