@import "../../../../style/imports.scss";

.edit_mode {
  width: 100%;

  h2 {
    font-size: get-font-size(small);
    text-align: right;
    padding: 0.5rem;
    margin-right: 1rem;
    font-style: italic;
  }

  &_image {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 250px;

    &_delete {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
      z-index: 20;

      &:hover, &:active {
        color: get-color(primary);
      }
    }

    img {
      width: 350px;
      height: 250px;
      object-fit: cover;
    }
  }
  &_image_upload {
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      padding-left: 1rem;
    }
    p {
      padding: 0.5rem;
    }
    &_icon {
      color: get-color(primary);
      cursor: pointer;

      &:hover,
      &:active {
        color: get-color(secondary);
      }
    }
  }
}
