@import "../../../style/imports.scss";

.navItem {
  padding: 0.625rem;
  margin: 0.3125rem;
  @include flexbox(flex-start, center, row);

  &_icon {
    font-size: get-font-size(large);
  }
  
  &_a {
    display: block;
    width: 100%;
    font-size: get-font-size(small);
    font-weight: lighter;
    text-decoration: none;
    color: get-color(text);
    margin-left: 1rem;
  }

  &:hover,
  &:active {
    @include hover-effect;
    animation: pulse .8s ease-in;  
  }
}

@include pulse;