@import "../../../../style/imports.scss";

.MessagesWrapper {
  width: 100%;
  height: 100%;

  &_back {
    @include flexbox(flex-start, center, row);
    width: 100%;
    min-height: 3.125rem;
    height: 10%;
    border-bottom: 1px solid gray;
    @include shadow-down;
    &_icon {
      cursor: pointer;
    }
  }
  &_container {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &_input {
    width: 100%;
    height: 10%;
    min-height: 3.125rem;
    background-color: get-color(primary);
  }
}