@import "../../../../style/imports.scss";

.chatItem {
  width: 95%;
  height: auto;
  //background-color: gray;
  padding: .5rem;
  margin: .5rem;
  @include flexbox(center, center, column);
  border-bottom: 1px solid gray;
  @include shadow-down;
  
  h2 {
    font-size: get-font-size(small);
    font-style: italic;
    font-weight: bold;
    padding: .5rem;
  }

  &_friendsHeader {
    width: 100%;
    @include flexbox(flex-start, center, row);
    flex-wrap: wrap;
    border-bottom: 1px solid lighten(gray, 25%);

    &_user {
      @include flexbox("center", "center", row);
      background-color: get-color(primary);
      border-radius: 10px;
      padding: 0.2rem;
      margin: 0.5rem;
      h4 {
        padding: .2rem;
        color: white;
      }
    }
  }

  &_lastMessage {
    margin: .3rem;
    width: 100%;
    text-align: left;

    &_content {
      font-size: get-font-size(small);
      font-style: italic;
      p {
        padding: .5rem;
      }
    }
    &:hover,
    &:active {
      @include hover-effect;  
    }
  }

  &_delete {
    width: 100%;
    text-align: right;

    &_icon {
      cursor: pointer;
      margin: 1rem .5rem 0 0;

      &:hover, &:active {
        color: get-color(secondary);
      }
    }
  }
}
