@import "../../../style/imports.scss";

.video {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexbox(center, center, column);
  background-color: gray;

  &_myStream {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 15rem;
    width: 20%;
    height: 30%;
    @include shadow;
    border: 1px solid white;
    border-radius: 8px;
    z-index: 50;

    video {
      width: 100%;
      height: 100%;
      z-index: 10;
      border-radius: 8px;
    }
    @media only screen and (max-width: 500px) {
      width: 10%;
      height: 30%;
    }
  }

  &_friendStream {
    position: relative;
    width: 90%;
    height: 90%;
    @include flexbox(center, center, row);

    video {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 1px solid white;
      @include shadow;
      object-fit: cover;
    }


    @media only screen and (max-width: 500px) {
      width: 90%;
      height: 70%;

      video {
        width: 90%;
        height: 60%;
      }
    }
  }
  &_user_info {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    @include flexbox(center, center, column);

    p {
      font-size: get-font-size(small);
      color: white;
      padding: 1rem;
    }

    &_avatar {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      @include flexbox(center, center, row);
      animation: pulse 0.8s infinite;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }

    &_iconUser {  
      @extend .video_user_info_avatar;
      background-color: white;
    }
  }
}

.fullscreen {
  @include flexbox(center, center, column-reverse);
  padding: 2rem;
}

@include pulse;
