@import "../../../style/imports.scss";

.video {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexbox(center, center, row);

  &_myStream {
    position: absolute;
    top: 0;
    right: 0;
    width: 21.875rem;
    height: auto;
    @include shadow;
    border: 1px solid get-color(primary);
    border-radius: 8px;

    video {
      width: 21.875rem;
      height: auto;
      z-index: 10;
      border-radius: 8px;
    }
  }

  &_friendStream {
    width: 100%;
    height: auto;

    video {
      width: 70%;
      height: auto;
      border-radius: 8px;
    }
  }
  &_user {
    width: 250px;
    background-color: get-color(transparent_gray);
  }
}
