@import "../../../style/imports.scss";

.topbar {
  width: 100vw;
  height: 3.5rem;
  background-color: get-color(primary);
  -webkit-box-shadow: 0px 10px 13px -7px gray, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px gray, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: white;
  @include flexbox(center, center, row);
  transition: all 0.3s ease-in-out;

  &_left {
    @include flexbox(flex-start, center, row);
    width: 50%;
    height: 100%;

    &_iconWrapper {
      @include flexbox(center, center, row);
      width: 50px;
      height: 2.8rem;
      margin: 1rem;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    &_iconWrapper:hover,
    &_iconWrapper:active {
      background-color: get-color(shadow);
      animation: pulse 2s infinite;
    }

    &_appName {
      font-size: get-font-size(medium);
      margin: 1rem;
    }
    @media screen and (max-width: 1000px) {
      &_appName {
        display: none;
      }
    }
    &_search {
      @include flexbox(space-between, center, row);
      min-width: 300px;
      height: 1.875rem;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.274);
      transition: all 0.5s ease-in-out;
      color: white;

      &_icon {
        padding: 0 5px;
        font-size: 30px;
      }

      input {
        width: 250px;
        border: none;
        background-color: transparent;
        color: white;
        margin: 0 10px;
        outline: none;
      }

      input:focus {
        width: 300px;
      }
    }

    &_search:hover {
      background-color: lighten(rgba(255, 255, 255, 0.39), 10%);
    }
  }

  &_right {
    @include flexbox(flex-end, center, row);
    width: 50%;

    &_account {
      @extend .topbar_left_iconWrapper;
      margin: 1.5rem;
      position: relative;
    }
  }
}

@include pulse;