@import "../../../style/imports.scss";

.sideDrawer {
    position: relative;

    &_content {
        position: absolute;
        width: 300px;
        height: 100vh;
        @include shadow;
        @include flexbox(flex-start, center, column);
        top: 0;
        left: -100vh;
        z-index: 50;
        transition: all 0.5s ease-in-out;

        &_title {
            text-align: right;
            width: 90%;
            border-bottom: 1px solid gray;
            padding: .5rem;
        }

        &_items {
            width: 90%;
           text-align: left;
        }
    }
}

.open {
    left: 0;
    @include animate;
}