@import "../../../style/imports.scss";

.messenger {
  width: 100%;
  height: 100%;

  &_header {
    width: 100%;
    height: 6.25rem;
    background-color: get-color(primary);

    &_title {
      position: relative;

      &_friends {
        @include flexbox(center, center, row);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 20px;
        cursor: pointer;

        &:hover, &:active {
          background-color: get-color(shadow);
          animation: pulse 2s infinite;
        }
      }

      h2 {
        color: white;
        font-size: get-font-size(medium);
        padding: .5rem;
      }
    }

    &_input {
      @include flexbox(flex-end, center, row);
      padding: 0.3rem;
      margin: 0.3rem 1rem 0.3rem 0.3rem;
    }
  }

  &_chats {
    @include flexbox(flex-start, center, column);
    width: 100%;
    height: 670px;
    padding-bottom: 1rem;
    border-left: 1px solid get-color(gray_profile);
    overflow-y: scroll;
  }
}

@include pulse;