@import "../../style/imports.scss";

.profile_container {

  h1 {
    font-size: get-font-size(medium);
    font-weight: bold;
    padding: 1rem;
    font-style: italic;
  }
  h2 {
    font-size: get-font-size(small);
    font-weight: bold;
    padding: 1rem;
    font-style: italic;
  }

  &_inputs {
    @include flexbox(center, flex-start, row);
    flex-wrap: wrap;

    &_text {
      width: 100%;
      padding: 2rem 0 3rem 0;
    }
    &_avatar {
      width: 65%;
      height: 24rem;  
      margin: 0 auto; 
      padding: 5rem;
      margin-bottom: 5rem;
      margin-top: 3rem;
      border: 1px solid rgb(165, 163, 163);
      border-radius: 8px;
      @include flexbox(center, center, column);
      overflow: hidden;
      
      &:hover, &:active {
        @include shadow;
      }
      &_file_input {
        margin: 0 auto;
        padding: 1rem;
        &:hover, &:active {
          cursor: pointer;
        }
      }
    }
  }
}