@import "../../../style/imports.scss";

.backDropMenu {
  position: absolute;
  display: none;
  width: 18.75rem;
  height: auto;
  top: 25px;
  right: 40px;
  background-color: white;
  color: black;
  border-radius: 8px;
  @include shadow;
  z-index: 20;
  font-size: get-font-size(small);
  font-weight: 300;

  &_items {
    text-align: left;
  }

  li, %item-styled {
    padding: 0.625rem;
    margin: 0.3125rem;
  }

  li:hover,
  li:active {
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 8px;
    cursor: pointer;
  }

  h3 {
    @extend %item-styled;
    border-bottom: 1px solid gray;
  }

}

.account_icon_wrapper {
  @include flexbox(center, center, row);
  width: 2.8rem;
  height: 2.8rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover,
  &:active {
    background-color: get-color(shadow);
  }
}

.open {
  display: block;
  animation: anim .8s cubic-bezier(0.23, 1, 0.320, 1);
}

.language_wrapper {
  @include flexbox(flex-start, center, row);

  &_flags {
    width: 50px;
    height: 20px;
    margin-right: .5rem;
  }
}

@keyframes anim {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}