@import "../../../../style/imports.scss";

.backDropMenu {
  position: absolute;
  display: none;
  width: 18.75rem;
  height: auto;
  top: 25px;
  right: 40px;
  background-color: get-color(dark-white);
  color: black;
  border-radius: 8px;
  @include shadow;
  z-index: 20;
  font-size: get-font-size(small);
  font-weight: 300;

  &_items {
    text-align: left;

    &_requests {
      @include flexbox(flex-start, center, row);

      &_number {
        @extend %oval;
        @include flexbox(center, center, row);
        margin-left: 1rem;
      }
    }
  }

  li {
    padding: 0.625rem;
    margin: 0.3125rem;
    color: get-color(text);
    @include flexbox(flex-start, center, row);

    p {
      margin-left: 1rem;
    }
  }

  &_logout_icon {
    font-size: get-font-size(medium);
  }

  li:hover,
  li:active {
    @include hover-effect;
    animation: pulse 0.8s ease-in;
  }

  h3 {
    padding: 0.625rem;
    margin: 0.3125rem;
    border-bottom: 1px solid gray;
    color: get-color(text);
  }
}

.account_icon_wrapper {
  @include flexbox(center, center, row);
  width: 2.8rem;
  height: 2.8rem;
  margin: 1rem 2.5rem 1rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;

  &_requests {
    position: absolute;
    @include flexbox(center, center, row);
    @extend %oval;

    p {
      font-size: get-font-size(small);
    }
  }

  img {
    @include avatar;
  }

  &:hover,
  &:active {
    background-color: get-color(shadow);
    animation: pulse 2s infinite;
  }
}

.open {
  display: block;
  animation: anim 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.language_wrapper {
  @include flexbox(flex-start, center, row);

  &_flags {
    width: 50px;
    height: 20px;
    margin-right: 0.5rem;
  }
}

@include pulse;

@include anim;

%oval {
  width: 20px;
  height: 20px;
  top: -2px;
  right: 0px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
