@import "../../style/imports.scss";

.search {
  @include flexbox(space-between, center, row);
  min-width: 300px;
  height: 1.875rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.274);
  transition: all 0.5s ease-in-out;
  color: white;

  &_icon {
    padding: 0 5px;
    font-size: 30px;
  }

  input {
    width: 250px;
    border: none;
    background-color: transparent;
    color: white;
    margin: 0 10px;
    outline: none;
  }

  input:focus {
    width: 300px;
  }
  &:hover {
    background-color: lighten(rgba(255, 255, 255, 0.39), 10%);
  }
}