@import "../../../style/imports.scss";

.chatFriends {
  min-width: 250px;
  width: 25vw;
  height: 100%;
  background-color: lighten(get-color(gray_profile), 15%);
  overflow: hidden;

  &_header {
    width: 100%;
    height: auto;
    background-color: get-color(primary);
    h2 {
      color: white;
      font-size: get-font-size(medium);
      padding: .5rem;
    }
  }

  &_container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
    width: 100%;
    padding-bottom: 1rem;
  }
}