@import "../../../style/imports.scss";

.navItem {
  padding: 0.625rem;
  margin: 0.3125rem;
  
  &_a {
    display: block;
    width: 100%;
    font-size: get-font-size(small);
    font-weight: lighter;
    text-decoration: none;
    color: black;
  }

  &:hover,
  &:active {
    @include hover-effect;
  }
}
