@import "../../../style/imports.scss";

.post {
  &_content {
    width: 100%;

    &_header {
      @include flexbox(space-between, center, row);

      p {
        padding: 1rem;
        font-size: get-font-size(small);
        font-style: italic;
      }
    }
    &_container {
      @include flexbox(center, center, row);
      flex-wrap: wrap;

      &_avatar {
        min-width: 10%;
        padding: 1rem;
        margin: 0 2rem;
        p {
          padding: 1rem;
        }
        img {
          @include avatar-big;
          cursor: pointer;
        }
      }
      &_main {
        @include flexbox (center, center, column);
        width: 70%;
        &_image { 
          height: 250px;

          img {
            width: 350px;
            height: 250px;
            object-fit: cover;
          }

        }
        p {
          padding: 1rem;
        }
      }
    }
    hr {
      width: 95%;
    }

    &_footer {
      width: 100%;
      @include flexbox(flex-start, center, row);
      &_likes {
        @include flexbox(flex-start, center, row);

        p {
          padding: 0 0.3rem;
        }
      }
    }
  }

  &_icon {
    color: get-color(primary);
    margin: 1rem;

    &:hover,
    &:active {
      color: get-color(secondary);
    }
  }
}
