@import "../../../../../style/imports.scss";

.messageHeader {
  @include flexbox(space-between, center, row);
  width: 100%;
  min-height: 3.125rem;
  height: 3.125rem;
  background-color: lighten(get-color(gray_profile), 20%);
  @include shadow-down;

  &_backBtn {
    cursor: pointer;
    margin: 2rem;
    @include flexbox(center, center, row);
    p {
      margin-left: 0.5rem;
      font-size: get-font-size(medium);
    }
  }

  &_user {
    @include flexbox(center, center, row);
    margin: 0 2rem;

    &_image {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 3px solid get-color(primary);
      @include flexbox(center, center, column);
      overflow: hidden;
      margin: .5rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;

      img {
        @include avatar;
      }
    }

    &_icon {
      @extend .messageHeader_user_image;
      background-color: get-color(gray_profile);
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
    p {
      padding: 0.3rem;
      margin: 0.5rem;
      font-size: get-font-size(medium);
    }
    &_video {
      color: gray;
      margin: 0 0.5rem;
    }
  }
}

.online {
    color: get-color(primary);
    cursor: pointer;
  
    &:hover, &:active {
      color: get-color(secondary);
    }
}